.App {
  display: flex;
  flex-direction: column;
}
.app_icon_name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.app_icon {
  width: 48px;
  height: 48px;
  padding: 15px;
}
.app_name {
  font-size: 25px;
}
.divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.header_container {
  display: flex;
  padding: 40px;
  height: 70px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.movie_list_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  gap: 25px;
  justify-content: space-evenly;
}
