.select {
  width: 120px;
  height: 35px;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  text-transform: capitalize;
  color: #fff;
  background: var(--secondary-background);
  text-align: left;
  padding: 0 15px;
  font-size: 16px;
  cursor: pointer;
}

.select::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border: none;
}

.select:hover {
  background: #222222;
}
