body {
  margin: 0;
  background: var(--primary-background);
  color: var(--text-color);
  font-family: "Josefin Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-background: #151618;
  --secondary-background: #25282c;
  --text-color: #ffff;
  --highlight-color: #bd24cf;
}
